{% extends "base.html" %}

{% block page_title %}
  <title>О проекте</title>
{% endblock %}

{% block page_main_header %}
    <div class="about-section text-center ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Проект MLD (Machine Learning Database)</h2>
                    <p class="text-white-50">Данный программный продукт предназначен для сбора, хранения,
                    обработки информации об алгоритмах машинного обучения,
                    метриках машинного обучения, публичных датасетах. </p>
                </div>
            </div>
            <img src="img/ipad.png" class="img-fluid" alt="">
        </div>
    </div>
{% endblock %}

