{% extends "base.html" %}

{% block page_title %}
  <title>Добавление информации</title>
{% endblock %}

{% block page_main_header %}
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
          <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 ">Добавление информации </h1>
                {% csrf_token %}
                {{ form.as_p }}
                <p> </p>
                <button type="submit" class="btn btn-primary js-scroll-trigger">Добавить информацию</button>
          </div>
        </div>
      </header>

{% endblock %}
