{% extends "base.html" %}

{% block page_title %}
    <title>База знаний</title>
{%endblock %}


{% block page_main_header %}
    <div class="about-section text-center ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {% for item in object_list %}
                    <h2 class="text-white mb-4">Алгоритм {{item.algo_name}}</h2>
                    <p class="text-white-50">{{item.algo_desc}}</p>
                    {% endfor %}
                </div>
            </div>
            <img src="img/ipad.png" class="img-fluid" alt="">
        </div>
    </div>
{% endblock %}

